{% include 'base.html' %}


{% block content %}
<nav class="navbar">
    <div class="brand-title">YDS Hospital</div>
    <a href="{% url 'home'%}" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="brand-links">
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about'%}">About Us</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="{% url 'login'%}">Login</a></li>
            <l1 class="nav-item-dropdown">
                <a class="nav-link drop-toggle" href="#" id="button" data-toggle="dropdown" arial-haspopup="true" aria-expanded="false">DropDown</a>
                <div>
                    <a href='#'>One</a>
                    <a href='#'>One</a>
                    <a href='#'>One</a>
                </div>
            </l1>
        </ul>
    </div>
</nav>        


{% endblock content %}